

<div class="banner" style="height: 700px; text-align: center;">
  <h1>GoatScape</h1>
  <h3>Oh my Goat!</h3>
  <p>goatttsss</p>
</div>
<div class="description m-3 ">
  <p>We rent goats for any occasion</p>
  <p>Grazing? We have the goat for you
  Decoration? We have the goat for you
  Birthday parties? We have the goat for you!</p>
</div>
