

<div class="banner row col-12" style="height: 700px; text-align: center;">
  <div class="list d-flex justify-content-start align-items-end flex-column">
  <h1 class="goatTitle">GoatScape</h1>
  <h3 class="bannerSubtitle">Oh my Goat!</h3>
  </div>
</div>
<div class="description m-5 d-flex justify-content-center align-items-center">
<ul>
  <h3>We rent goats for any occasion!</h3>
    <p>Grazing? We have the goat for you</p>
    <p>Decoration? We have the goat for you</p>
    <p>Birthday parties? We have the goat for you!</p>
</ul>
</div>
