<div class="p-4 p-md-5 mb-4 rounded text-bg-dark flex">
  <div class="row g-5 justify-content-center">
    <div class="col-12 col-lg-8 px-4">
      <h1 class="display-4 fst-italic"><%= current_user.first_name %> <%= current_user.last_name %></h1>
      <p class="lead my-3"><%= current_user.bio %></p>
    </div>
    <div class="col-12 col-lg-4 order-first order-lg-last">
      <img src="https://res.cloudinary.com/dxfg68ykv/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,b_rgb:262c35/v1669118271/thomas-jarrand-SClPUUkGD8M-unsplash_rv7urx.jpg" class="rounded-circle" style="width: 250px;"alt="profile_picture">
    </div>
  </div>

</div>
