.banner{
  background-image: url(https://images.unsplash.com/photo-1567565932624-df6796fd9342?ixlib=rb-4.0.3&ixid=MnwxM[…]hdGVkfDE2fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60);
  background-position: bottom;
  background-size: cover;
}
