.banner{
  background-image: url("welcomeGoat.jpg");
  background-position: bottom;
  background-size: cover;
}

.goatTitle {
  font-size: 100px;
  padding-right: 150px;
  margin-top: 120px;
}

.bannerSubtitle {
  padding-right: 250px;
  font-size: 50px;
}
