@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.banner{
  //background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),url("welcomeGoat.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("welcomeGoat.jpg");
  background-position: bottom;
  background-size: cover;

}

.goatTitle {
  font-family: "Montserrat", "Helvetica", "sans-serif";
  font-size: 75px;
  color: white;

}

.bannerSubtitle {
  font-family: Montserrat;
  font-size: 35px;
  color: white;
 }

 .black-btn {
  margin-top: 20px;;
  border-radius: 5px;
 }

 .jumbotron {
  background-color: rgb(217, 227, 233);
  background-size: cover;
 }


 .banner_show p{
  font-size: 16px;
 }

 .fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 333px;
  border-radius: 10px!important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
