.btn-login {
  border-radius: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  color: white;
}

#login-button{

  border-style: solid;
  border-color:#dddddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  background-color: white;
  color: #8DA48A;
}

.returnbtn {
  border-radius: 20px;
  margin: 10px;
  border-style: solid;
  border-color: #dddddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  background-color: white;
  color: #677465;
  margin: 8px;
}

.filter-image{
  width: 17px;
  margin: 10px;
 }


 .filter-category {
  background-color: #F9F9F9;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  color: black;
 }

 .position-filters{
  display: flex;
  left: 1010px;
  margin-bottom: 10px;
 }

 .filter-category:hover{
  background-color: #F9F9F9;
  color: black;
 }

 .btn-seegoats{
  font-size: 16px;
  padding: 10px;
  border-radius: 22px;
  width: 125px;
  margin-top: 17px;
  align-content: center;
  background-color: #f7f5f2;
  color: #8ca38a;
  font-weight: bold;
  letter-spacing: 0.3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  border: none;
 }

 .btn-seegoats:hover{
  background-color: #8ca38a;
  color: white;
 }

 .nav-item.dropdown{
  border:none;
 }
