.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  width: 17rem;
  background: none;
  border: none;
  margin-bottom: 33px;
}
.card-img-top{
  object-fit: cover;
  object-position: center;
  height: 17rem;
  border-radius: 12px;
}

.star-icon {
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: black;
  border-radius: 26px;
  padding: 4px;
  border-color: rgba(0, 0, 0, 0.5);
}

.star{
  color: #FFC978;
}
