.card-home {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 12px;
  background-color: white;

}

// .card-img-top-goat {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1533215740941-26df050d5278?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Z3Jhc3MlMjBnb2F0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60"
//   );
// }

// .card-img-top-yoga {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("");
// }

.card-category {
  background-size: cover;
  background-position: center;
  height: 280px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
