.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

#login-button{
  background-color: #white;
  border-style: solid;
  border-color: #dddddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  font-size: 14px;
  height: 46px;
  background-color: white;
}

.filters {
  text-decoration: none;
  border: none;
  background: none;
}


.avatar{
  width: 30px;
}

.category-select{
  select {
    border: none;
    background-color: transparent;
    color:#757575;
    outline:none;
  }
}
